<div class="ui grid">
  <div class="three column row">
    <div class="column">
        <script type="text/javascript">
        var nend_params = {"media":48427,"site":265239,"spot":770670,"type":1,"oriented":1};
        </script>
        <script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
    </div>
    <div class="column">
        <% @entries.each do |entry| %>
            <div class="ui segment">
                <div class="ui top attached red label title"><%= entry.category %></div>
                <div class="title"> <%= link_to "#{entry.title}", entry.url, { :target => "_blank"} %></div><br/>
                <%= image_tag(entry.image, :size => '50x50') if !entry.image.nil? %>
                <div class="description"><%= entry.content %></div><br/>
                
                <span class="ui teal tag label"><%= entry.author %></span><br>
            </div>
        <% end %>
    </div>
    <div class="column"></div>
  </div>
</div>
</div>