<div class="ui grid">
  <div class="three column row">
    <div class="column"></div>
    <div class="column">
        <% @entries.each do |entry| %>
            <div class="ui segment">
                <div class="ui top attached red label title"><%= entry.category %></div>
                <div class="title"> <%= link_to "#{entry.title}", entry.url, { :target => "_blank"} %></div><br/>
                <%= image_tag(entry.image, :size => '50x50') if !entry.image.nil? %>
                <div class="description"><%= entry.content %></div><br/>
                
                <span class="ui red tag label"><%= entry.author %></span><br>
            </div>
        <% end %>
    </div>
    <div class="column"></div>
  </div>
</div>
</div>